Data Sources/Financial analyzed files
Data Sources/Financial analyzed files.zip
Data Sources/Financial Data
Data Sources/Script to generate dimension tables from Main Table
01-Data Ingestion/01-solution.md
02-Documentation Intelligence/02-challenge.md
03-Fraud Analysis/03-challenge.md